<a href="https://colab.research.google.com/github/tw-jameslee/PythonTeach_114/blob/main/%E4%BB%8A%E5%A4%A9%E4%B8%8A%E8%AA%B2%E7%A8%8B%E5%BC%8F2025_09_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 📅上課日期：2025/09/24

In [ ]:
# x = type(10)    # int  --> integer 整數
# y = type('10')  # str  --> string 字串
# z = type(True)  # bool --> boolean 布林值（真假）
# f = type(1.3)   # float --> 浮點數（實數）
# l = type( (1,2,3) )
# ll = type(['aa','bbb','李大仁','0933-123456'])

# print( x )
# print( y )
# print( z )
# print( f )
# print(l, ll)

# d = {
#       '319999':'小龍女',
#       '319001':'李大仁',
#       'book':'書',
#       'iPhone17': 40000
#     }
# print(d['319001']   )
# print(d['book'])
# print(d['iPhone17'])

stus = {
          1: { '姓名':'李一仁', '年齡': 11, '電話': '0911-111111'},
          4: { '姓名':'李四仁', '年齡': 14, '電話': '0944-444444'},
          3: { '姓名':'李三仁', '年齡': 13, '電話': '0933-333333'},
          2: { '姓名':'李二仁', '年齡': 12, '電話': '0922-222222'},
        }

print( stus[3]['電話'] )

0933-333333

In [ ]:
# int()函數功能：將x(字串型態) 轉換資料型別為 int(整數型態)
x = int( input("請輸入 單價 = ") )
y = int( input("請輸入 數量 = ") )

print(  f'小計：{ x*y } 元, 打9折：{ x*y*0.9 } 元' )



# 輸入x,y 然後計算x+y等於多少

請輸入 單價 = 10
請輸入 數量 = 25
小計：250 元, 打9折：225.0 元

In [ ]:
# 2進位
a = 0b101   # 5
aa = bin(7)  # 將10進位轉成2進位：0b111
print(a, aa)

# 8進位
o = 0o10
oo = oct(9) # 將10進位轉成8進位：0o11
print(o, oo)


# 16進位
h = 0x1A
hh = hex(15)  # 將10進位轉成16進位：0xf
print(h, hh)

5 0b111
8 0o11
26 0xf

In [ ]:
# a = 10
# b = -100
# print( abs(a))
# print( abs(b))

c = 113.34567
d = 114.31567
print(round(c,2))
print(round(d,2))

113.35
114.32