<a href="https://colab.research.google.com/github/tw-jameslee/PythonTeach_114/blob/main/%E4%BB%8A%E5%A4%A9%E4%B8%8A%E8%AA%B2%E7%A8%8B%E5%BC%8F2025_10_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 📅上課日期：2025/10/01

In [36]:
# a = 12
# b = 'hello'
# c = 'aa"aabbbccccdd\'ddeeee'
# d='1.xxxxx\n2.yyyyy\n3.zzzzz'   # '\n' --> new line
# f='C:\\Program Files\\Adobe\\....'
# # print(f)


# #用連續3個雙(單)引號再跳脫符號(\)就可以表示多行字串了
# g="""\
# 1.xxxxxxxxxxxxxxxx
# 2.yyyyyyy
# 3.zzzzzzzz\
# """
# print(g)

# 成績 = 99
# s = f"我的成績是{成績-10}分"  # f-string
# print(s)

age = 12
money = 2000000
print(age<=20)
print(money>=10000000)

ok = (age<=20) or (money>=10000000)
print(not 1==2)

True

In [42]:
x = "   這是包含前後空白的字串   "
print(f"原始字串: '{x}'")

xx = x.strip()
print(f"去除空白後的字串: '{xx}'")

x = "this is a book!@#$@!"
xx = x.title()
print(f"轉換後的字串: '{xx}'")

轉換後的字串: 'This Is A Book!@#$@!'

In [46]:
# # int()轉換資料型別的函數,轉成「整數」
# x = int(input('請輸入一個數字：'))    # --> 使用者輸入的資料一律都會儲存為「文字」格式

# print(x**2)

name = input('請輸入你的姓名：')
age = int(input('你幾歲？'))

# 利用 f-string 來處理字串中的變數
result = f'你叫{name}，你現在{age-1}歲'

print(result)

請輸入你的姓名：李大仁
你幾歲？20
你叫李大仁，你現在19歲

In [71]:
# print( round(25.5) )  # 四捨六入五成單

# l = len('李大仁')   # len() 用來計算字串的長度
# print(l)

# s = 'askdfhksahfdsdfksdfuhklsadfsfdsdfdffsdafsd'
# print(   len(s)   )

for i in range(1, 10+1):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [76]:
# print(1)
# print(2)
# print(3)
# print(4)
# print(5)
# Ctrl + /  註解程式碼


# for迴圈的使用
for j in [1,3,5,8]:
  print(j**2)

for x in range(0,4):   # 相當於是 for x in [0,1,2,3]:
  print(x)

for i in range(1,5+1,2):
  print(i)
  print('-----')

print('*******************')

for x in range(5,1-1,-2):
  print(x)
print('-----')

1
-----
3
-----
5
-----
*******************
5
3
1
-----
1
9
25
64

In [79]:
a = [11,22,33,44,55]
print(a[0],a[2],a[4])

b = '李大仁是一個大帥哥'  # <= ['李','大','仁','是','一','個','大','帥','哥']
print(b[0],b[3],b[-1],b[2:-2])

11 33 55
李 是 哥 仁是一個大

In [90]:
print(123,111,222, sep="\n", end="#\n")
print(456)

123
111
222#
456

In [91]:
# 印出資料的分隔參數sep設定
# print('aaaaa', 'bbbbb', 'ccccc', sep=' --> ')
# print('a','b','c','d', sep='\t')  # 以「Tab字元」分隔
# print('aaa','bb','ccccc','dd', sep='\t')
# print('x','y','z', sep='\n')      # 以「換行字元」分隔

print('aaaaa')  # 相當於 print('aaaaa', end='\n')
print('bbbbb','cccccc', end=' ')  #印完 bbbbb cccccc 之後不換行，只空一個空格
print('ccccc', end=' ')
print('ddddd')
print('eeeee')

aaaaa
bbbbb cccccc ccccc ddddd
eeeee

In [92]:
for i in range(1,9+1):
  # print(f'i={i}', end=' --> ')

  for j in range(1,i+1):
    print("*", end='')

  print('') # 因為上面print()都不換行，這裡要換行

*
**
***
****
*****
******
*******
********
*********

In [93]:
n = int(input('請輸入一個整數：'))

for i in range(1,n+1):
  s = '*' * i
  print(s)

請輸入一個整數：5
*
**
***
****
*****

In [95]:
n = int(input('請輸入一個整數：'))

for i in range(1,n+1):
  p = ' ' * (n-i)
  s = '*' * i
  t = p + s
  print(t)

請輸入一個整數：5
    *
   **
  ***
 ****
*****

In [96]:
for i in range(1,9+1):
  # print(f'i={i}', end=' --> ')

  for j in range(1,9+1):
    print(f'{j}*{i}={j*i}', end='\t')

  print('')

1*1=1	2*1=2	3*1=3	4*1=4	5*1=5	6*1=6	7*1=7	8*1=8	9*1=9
1*2=2	2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18
1*3=3	2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27
1*4=4	2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36
1*5=5	2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45
1*6=6	2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54
1*7=7	2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63
1*8=8	2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72
1*9=9	2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81